<a href="https://colab.research.google.com/github/Xavialva/Ventas-predicciones/blob/main/Limpieza_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Limpieza de datos

In [54]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
df='/content/drive/MyDrive/Coding dojo/Core2/sales_predictions.csv'

In [56]:
import pandas as pd
import numpy as np

In [57]:
df= pd.read_csv(df)

In [48]:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [75]:
df.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [76]:
df.tail(10)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8513           FDH31       12.000  ...  Supermarket Type1           595.2252
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8515           FDH24       20.700  ...  Supermarket Type2          1571.2880
8516           NCJ19       18.600  ...  Supermarket Type2           858.8820
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[10 rows x 12 columns]

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

Podemos observar que en la columna *"Item_Weight"* y *"Outlet_Size"* presentamos valores faltantes

In [87]:
df['Item_Fat_Content'].

(8523,)

In [89]:
df.loc[df['Item_Fat_Content']=='reg']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
81             FDN04       11.800  ...  Supermarket Type1          1427.4752
151            FDR28       13.850  ...  Supermarket Type2          1794.3310
199            FDX49          NaN  ...  Supermarket Type3          5359.6900
339            FDM01        7.895  ...  Supermarket Type1          2870.9296
396            FDN58       13.800  ...  Supermarket Type1          3707.1744
...              ...          ...  ...                ...                ...
8085           FDA52       16.200  ...  Supermarket Type1          3528.7400
8143           FDR44        6.110  ...  Supermarket Type1          2348.9424
8233           FDU24        6.780  ...  Supermarket Type1          1025.3320
8387           FDT10       16.700  ...  Supermarket Type1           533.3058
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360

[117 rows x 12 columns]

Podemos observar valores mal escritos 'ref'

In [90]:
df.loc[df['Item_Fat_Content']=='low fat']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
27             DRJ59       11.650  ...  Supermarket Type1           308.9312
74             NCZ18        7.825  ...  Supermarket Type1          5580.7356
82             FDV45       16.750  ...  Supermarket Type2          4693.8900
108            DRE60          NaN  ...      Grocery Store           679.1160
111            FDS52        8.890  ...  Supermarket Type1          2732.4432
...              ...          ...  ...                ...                ...
7925           FDM39        6.420  ...  Supermarket Type1          4477.5050
8068           NCU53        5.485  ...  Supermarket Type1          1989.4104
8295           FDX58       13.150  ...  Supermarket Type1          4028.0900
8380           FDI19       15.100  ...  Supermarket Type1          3635.2680
8404           DRH39          NaN  ...      Grocery Store           153.1340

[112 rows x 12 columns]

Podemos observar valores mal escrito 'low fat'