<a href="https://colab.research.google.com/github/Xavialva/Ventas-predicciones/blob/main/Limpieza_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Limpieza de datos

In [3]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
df='/content/drive/MyDrive/Coding dojo/Core2/sales_predictions.csv'

In [7]:
import pandas as pd
import numpy as np

In [8]:
df= pd.read_csv(df)

In [9]:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [10]:
df.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [11]:
df.tail(10)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8513           FDH31       12.000  ...  Supermarket Type1           595.2252
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8515           FDH24       20.700  ...  Supermarket Type2          1571.2880
8516           NCJ19       18.600  ...  Supermarket Type2           858.8820
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[10 rows x 12 columns]

Podemos observar que en la columna *"Item_Weight"* y *"Outlet_Size"* presentamos valores faltantes

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

Llenamos los valores faltantes de 'Item_Weight' con la función '.interpolate' para dar un balance entre el valor de la fila de arriba del faltante con el valor de la fila de abajo del faltante.

In [13]:
df.loc[df['Item_Weight'].isna()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [14]:
df['Item_Weight']=df['Item_Weight'].interpolate(method='linear')
df.head(25)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10       14.925  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11       11.175  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224
20           FDN22       18.850  ...  Supermarket Type1          3775.0860
21           FDW12       16.725  ...  Supermarket Type3          4064.0432
22           NCB30       14.600  ...  Supermarket Type1          1587.2672
23           FDC37       14.225  ...      Grocery Store           214.3876
24           FDR28       13.850  ...  Supermarket Type1          4078.0250

[25 rows x 12 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

Podemos observar valores mal escritos 'reg'

In [16]:
df.loc[df['Item_Fat_Content']=='reg']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
81             FDN04    11.800000  ...  Supermarket Type1          1427.4752
151            FDR28    13.850000  ...  Supermarket Type2          1794.3310
199            FDX49    17.366667  ...  Supermarket Type3          5359.6900
339            FDM01     7.895000  ...  Supermarket Type1          2870.9296
396            FDN58    13.800000  ...  Supermarket Type1          3707.1744
...              ...          ...  ...                ...                ...
8085           FDA52    16.200000  ...  Supermarket Type1          3528.7400
8143           FDR44     6.110000  ...  Supermarket Type1          2348.9424
8233           FDU24     6.780000  ...  Supermarket Type1          1025.3320
8387           FDT10    16.700000  ...  Supermarket Type1           533.3058
8517           FDF53    20.750000  ...  Supermarket Type1          3608.6360

[117 rows x 12 columns]

In [17]:
df['Item_Fat_Content']=df['Item_Fat_Content'].replace('reg','Regular')
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

Observamos que hay diferentes valores con LF en vez de 'Low Fat'

In [18]:
df.loc[df['Item_Fat_Content']=='LF']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
45             FDM39         6.42  ...      Grocery Store           358.2004
65             FDC46        17.70  ...      Grocery Store           184.4266
121            DRJ13        12.65  ...  Supermarket Type1          2085.9514
175            FDR47        17.85  ...      Grocery Store           585.2382
207            DRF36        16.10  ...  Supermarket Type1          3630.6074
...              ...          ...  ...                ...                ...
8367           FDA32        13.15  ...      Grocery Store           215.7192
8379           FDV39        11.30  ...  Supermarket Type1          2372.9112
8391           FDV15        10.30  ...  Supermarket Type1          3219.8088
8443           FDX15        17.20  ...  Supermarket Type1          2888.2404
8467           FDV31         9.80  ...  Supermarket Type1          3881.6140

[316 rows x 12 columns]

In [19]:
df['Item_Fat_Content']=df['Item_Fat_Content'].replace('LF','Low Fat')

In [20]:
df.loc[df['Item_Fat_Content']=='LF']

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

Podemos observar valores mal escrito 'low fat'

In [21]:
df.loc[df['Item_Fat_Content']=='low fat']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
27             DRJ59    11.650000  ...  Supermarket Type1           308.9312
74             NCZ18     7.825000  ...  Supermarket Type1          5580.7356
82             FDV45    16.750000  ...  Supermarket Type2          4693.8900
108            DRE60    10.392500  ...      Grocery Store           679.1160
111            FDS52     8.890000  ...  Supermarket Type1          2732.4432
...              ...          ...  ...                ...                ...
7925           FDM39     6.420000  ...  Supermarket Type1          4477.5050
8068           NCU53     5.485000  ...  Supermarket Type1          1989.4104
8295           FDX58    13.150000  ...  Supermarket Type1          4028.0900
8380           FDI19    15.100000  ...  Supermarket Type1          3635.2680
8404           DRH39     9.961667  ...      Grocery Store           153.1340

[112 rows x 12 columns]

In [22]:
df['Item_Fat_Content']=df['Item_Fat_Content'].replace('low fat','Low Fat')

In [23]:
df.loc[df['Item_Fat_Content']=='low fat']

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

Trabajamos sobre los valores faltantes en la variable 'Outlet_Size'

In [24]:
df['Outlet_Size'].isna()

0       False
1       False
2       False
3        True
4       False
        ...
8518    False
8519     True
8520    False
8521    False
8522    False
Name: Outlet_Size, Length: 8523, dtype: bool

In [25]:
df.loc[df['Outlet_Size'].isna()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

In [26]:
df['Outlet_Size']=df['Outlet_Size'].fillna(method='ffill')

In [27]:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]